.top_row img {
    width: 100%;
    border-radius: 10%;
}

.top_row .card {
    width: 30%;
    margin: 1%;
}

.card {
    display: inline-block;

}

h3 {
    font-weight: 100;
    font-size: 16px;
    margin: 8px 0;
}

p {
    margin: 0;
    font-weight: 600;
    font-size: 18px;
}

.bottom_row .card {
    width: 47%;
    margin: 1%;
}

.bottom_row img {
    width: 100%;
    border-radius: 5%;
}

@media (max-width: 575px) {
    .top_row .card {
        width: 100%;
    }
    .bottom_row .card {
        width: 100%;
    }
}

@media (min-width: 800px) {
    .top_row .card {
        width: 18%;
    }
    .bottom_row .card {
        width: 18%;
    }
}

.top_row, .bottom_row {
    display: contents;
}


/* Flex */

.flex_container {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(187, 198, 248);
    height: 600px;
    /* align-items: center; */
    justify-content: center;
    ;
    /* flex-direction: column; */
}

.box {
    border: 2px solid rgb(206, 86, 86);
    height: 100px;
    box-sizing: border-box;
    min-width: 100px;
    /* max-width: 200px; */
    /* width: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.box:nth-child(odd) {
    background-color: aquamarine;
    align-self: flex-end;
}

/* everything else is 0 because it is not target so 1 goes to the end */
.box:nth-of-type(1) {
    order: 3;
}